$white: #ffffff;
$space: #4f5a60;
$pepper: #818a91;
$grey100: #f3f6f7;
$grey200: #e7ecef;
$grey300: #ced5dc;
$grey400: #bec8ce;
$teal: #00b0b2;
$dark-teal: #158693;
$lettuce: #48dcc0;
$green: #48dcc0;
$light-green: #d1f6ef;
$red: #e54545;
$dark-red: #e54545;
$yellow: #ffd049;
$blue: #3384e1;
$orange: #ff9d5a;
$neutral-dark: #666e76;
$dark-mint: #00878A;
$light-red: #f291b0;
$purple: #6b68b3;
$mustard: #ffd049;
$water: #3384e1;
