@import '../../assets/style/variable.scss';

.block {
  padding-top: 100px;
}

.item {
  display: flex;
  align-items: center;
  font-family: Allison, Italianno, AlexBrush, Arial, serif;

  .animated {
    width: 50%;
  }

  .image {
    width: 100%;

    video {
      width: 100%;
      border-radius: 8px;
    }
  }

  .description {
    margin-top: 10%;
    background-color: $white;
    margin-left: -3rem;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    z-index: 3;

    .title {
      font-size: 4.5rem;
      font-weight: 400;
    }

    .content {
      margin-top: 2rem;
      font-size: 2.6rem;
    }

    .author {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 2.5rem;
      text-align: right;
    }
  }
}

// Button Google Maps
.button-google-maps {
  position: relative;
  padding: 5px 50px;
  display: block;
  text-decoration: none;
  width: 100px;
  overflow: hidden;
  border-radius: 40px;
  font-family: Allison, Arial, serif;
  text-align: center;

  span {
    position: relative;
    color: #fff;
    font-size: 2.5rem;
    z-index: 1;
  }

  .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: $cafe;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
  }

  .liquid::after,
  .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }

  .liquid::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }

  .liquid::after {
    
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
  }

  &:hover .liquid{
    top: -120px;
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

@media only screen and (max-width: 1023px) {
  .item {
    .description {
      margin-top: 0;
      margin-left: -3rem;
      padding: 2rem;
  
      .title {
        font-size: 3.5rem;
        font-weight: 400;
      }
  
      .content {
        margin-top: 2.5rem;
        font-size: 2.2rem;
      }
  
      .author {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-size: 2rem;
        text-align: right;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .block {
    padding-top: 80px;
  }

  .item {
    display: block;

    .animated {
      width: 100%;
    }

    .description {
      padding: 1rem;
      margin: -8rem 1rem 0 1rem;
  
      .title {
        font-size: 3.5rem;
        font-weight: 500;
      }
  
      .content {
        margin-top: 1.4rem;
        font-size: 2rem;
      }
  
      .author {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        text-align: right;
      }
    }
  }

  // Button Google Maps
  .button-google-maps {
    padding: 4px 30px;
    width: 90px;

    span {
      font-size: 2rem;
    }

    .liquid {
      top: -80px;
      left: 0;
      width: 200px;
      height: 200px;
    }
  }
}
