.product-detail {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #8123ce 0%, #3a54c6 50%, #46a7dc 100%);
  box-sizing: border-box;
  padding-top: 60px;

  &__content {
    width: 80%;
    max-width: 1200px;
    background: #fff;
    border-radius: 8px;
    margin: auto;
    min-height: calc(100vh - 120px);
  }

  &__banner {
    border-radius: 8px;
    margin-top: -40px;
    padding: 0 24px;
    box-sizing: border-box;
  }
}
