
@import '../../assets/style/variable.scss';

body {
  margin: 0;
}

.footer {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 400px;
  display: block;
  overflow: hidden;
  background-image: linear-gradient(135deg, $purple2 0%, $blue2 50%, $blue3 100%);
  position: relative;
  
  .inner-footer {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .content-footer {
    padding: 2.5rem 1.5rem;
    position: relative;
    z-index: 3;
  }

  .contact-us-title {
    font-size: 2rem;
    color: $white;
  }

  .social-network {
    z-index: 3;
    position: relative;
    padding-top: 2.5rem;

    .social-network-item {
      color: $white;
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      .title {
        font-size: 1rem;
      }

      .link {
        color: $white;
        text-decoration: none;
        padding-left: 1rem;
        font-size: 1rem;

        &:hover {
          color: $light-red2;
        }
      }

      .external-link {
        color: $light-red2;
        padding-left: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  // Shapes animation
  // .shape {
  //   margin: 0 auto;
  //   position: relative;
  //   opacity: 0.7;
  // }

  // $colors: #45ffdc, #ffef96, #ff94a1, #cda1ff, #31b4ff, #4800c0, #9300c9;
  // $shape-count: 80;


  // @for $i from 1 through $shape-count {
  //   $shape-size: 0.7 + random(10);
    
  //   $rotation: random(360);
  //   $speed: 40 + random(30);
  //   $color-key: random( length($colors) );
  //   $shape-color: nth( $colors, $color-key );
    
  //   @keyframes shape-#{$i} {
  //     0% {
  //       transform: translate3d(0,0,0) rotate(#{$rotation + 0}deg);
  //     }
  //     100% {
  //       transform: translate3d(0,0,0) rotate(#{$rotation + 360}deg);
  //     }
  //   }

  //   .shape-container--#{$i} { 
  //     animation: shape-#{$i} #{$speed}s linear infinite;

  //     .random-shape {
  //       font-size: #{$shape-size * 0.2}rem;
  //       color: $shape-color;

  //       &:after {
  //         margin: #{$shape-size}rem;
  //         margin: 0.01rem;
  //       }
  //     }
  //   }
  // }

  // // Contact Us
  // .contact-us {
  //   font-family: Italianno, Arial, serif !important;
  //   letter-spacing: 1.5rem;
  //   font-family: "Clip";
  //   text-transform: uppercase;
  //   font-size: 2em;
  //   color: #ffe6ff;
  //   text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  //     -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  //     0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  //   animation: shine 2s forwards, flicker 3s infinite;

  //   .text-space {
  //     padding-left: 1.5rem;
  //   }
  // }

  // @keyframes blink {
  //   0%,
  //   22%,
  //   36%,
  //   75% {
  //     color: #ffe6ff;
  //     text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  //       -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  //       0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  //   }
  //   28%,
  //   33% {
  //     color: #ff65bd;
  //     text-shadow: none;
  //   }
  //   82%,
  //   97% {
  //     color: #ff2483;
  //     text-shadow: none;
  //   }
  // }

  // .flicker {
  //   animation: shine 2s forwards, blink 3s 2s infinite;
  // }

  // .flicker2 {
  //   animation: shine 2s forwards, blink 4s 2s infinite;
  // }

  // .fast-flicker {
  //   animation: shine 2s forwards, blink 10s 1s infinite;
  // }

  // @keyframes shine {
  //   0% {
  //     color: #6b1839;
  //     text-shadow: none;
  //   }
  //   100% {
  //     color: #ffe6ff;
  //     text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  //       -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  //       0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  //   }
  // }

  // @keyframes flicker {
  //   from {
  //     opacity: 1;
  //   }

  //   4% {
  //     opacity: 0.9;
  //   }

  //   6% {
  //     opacity: 0.85;
  //   }

  //   8% {
  //     opacity: 0.95;
  //   }

  //   10% {
  //     opacity: 0.9;
  //   }

  //   11% {
  //     opacity: 0.922;
  //   }

  //   12% {
  //     opacity: 0.9;
  //   }

  //   14% {
  //     opacity: 0.95;
  //   }

  //   16% {
  //     opacity: 0.98;
  //   }

  //   17% {
  //     opacity: 0.9;
  //   }

  //   19% {
  //     opacity: 0.93;
  //   }

  //   20% {
  //     opacity: 0.99;
  //   }

  //   24% {
  //     opacity: 1;
  //   }

  //   26% {
  //     opacity: 0.94;
  //   }

  //   28% {
  //     opacity: 0.98;
  //   }

  //   37% {
  //     opacity: 0.93;
  //   }

  //   38% {
  //     opacity: 0.5;
  //   }

  //   39% {
  //     opacity: 0.96;
  //   }

  //   42% {
  //     opacity: 1;
  //   }

  //   44% {
  //     opacity: 0.97;
  //   }

  //   46% {
  //     opacity: 0.94;
  //   }

  //   56% {
  //     opacity: 0.9;
  //   }

  //   58% {
  //     opacity: 0.9;
  //   }

  //   60% {
  //     opacity: 0.99;
  //   }

  //   68% {
  //     opacity: 1;
  //   }

  //   70% {
  //     opacity: 0.9;
  //   }

  //   72% {
  //     opacity: 0.95;
  //   }

  //   93% {
  //     opacity: 0.93;
  //   }

  //   95% {
  //     opacity: 0.95;
  //   }

  //   97% {
  //     opacity: 0.93;
  //   }

  //   to {
  //     opacity: 1;
  //   }
  // }

}

@media only screen and (max-width: 767px) {
  .footer {
    .content-footer {
      padding: 2.5rem 1rem;
    }

    .contact-us {
      letter-spacing: 0.8rem;
      font-size: 2rem;
    }
  }
}

