@import '../../assets/style/variable.scss';

.our-blog {
  padding: 3rem 1rem 4rem 1rem;

  .our-blog-title {
    font-family: Geraldine, Arial, serif;
    font-size: 5rem;
    text-align: center;
    margin-top: 80px;
    margin-top: 40px;
  }

  .blog {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    width: calc(100% - 40px) !important;

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }

    .title {
      padding: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 1.2px;
      line-height: 1.8rem;
    }

    .date {
      padding: 0.5rem 1rem 1rem 1rem;
      font-size: 1rem;
      letter-spacing: 1.2px;
      display: flex;
      justify-content: space-between;

      a {
        color: $teal;
      }
    }
  }

  .slick-prev {
    left: -1rem;

    &:before {
      color: $light-red;
    }
  }

  .slick-next {
    right: -1rem;

    &:before {
      color: $light-red;
    }
  }
}

@media only screen and (max-width: 767px) {
  .our-blog {
    padding: 3rem 0.3rem 4rem 0.3rem;

    .our-blog-title {
      font-size: 3rem;
      margin-top: 20px;
    }

    .blog {
      margin: 15px;
      width: calc(100% - 30px) !important;
    }
  }
}
